.Rproj.user
.Rhistory
.RData
.Ruserdata
noaa_token.txt
10 Time-Series Analysis _ SAGE Research Methods.pdf - Shortcut.lnk
12. Modeling Change.pdf - Shortcut.lnk
13. Analyzing Panel Data - Fixed- and Random-Effects Models.pdf - Shortcut.lnk
13. Longitudinal Panel Analysis with Logistic Regression.pdf - Shortcut.lnk
14. Logistic Regression for Historical and Developmental Change Models - Multilevel Logistic Regression and Discrete Time Event History Analysis.pdf - Shortcut.lnk
14. Longitudinal Analysis for Continuous Outcomes - Random Effects Models and Latent Trajectory Models.pdf - Shortcut.lnk
17. Time-Series Cross-Section.pdf - Shortcut.lnk
2. The Special Nature of Spatial Data.pdf - Shortcut.lnk
30 Best Practices in Analysis of Longitudinal Data - A Multilevel Approach.pdf - Shortcut.lnk
6. Spatial Autocorrelation.pdf - Shortcut.lnk
8. Longitudinal Analysis.pdf - Shortcut.lnk
9. Time Series Analysis.pdf - Shortcut.lnk
9. Working with Date and Time Data.pdf - Shortcut.lnk
Automatic Time Series Forecasting - the forecast Package for R.pdf - Shortcut.lnk
Basic Data Analysis for Time Series with R.pdf - Shortcut.lnk
Chapter 10 - Complexities in Error Structures within Individuals.pdf - Shortcut.lnk
Chapter 9 - Longitudinal Data Modeling.pdf - Shortcut.lnk
Forecasting - Shortcut.lnk
Longitudinal Categorical Data Analysis.pdf - Shortcut.lnk
Mapping Spatial Relations, Their Perceptions and Dynamics.pdf - Shortcut.lnk
Modeling Longitudinal Data.pdf - Shortcut.lnk
Models for Discrete Longitudinal Data.pdf - Shortcut.lnk
Modern Methodology and Applications in Spatial-Temporal Modeling.pdf - Shortcut.lnk
polyline_df.csv
polyline_df.rds
Non-Linear Time Series - Extreme Events and Integer Value Problems.pdf - Shortcut.lnk
Time Series Analysis and Its Applications - With R Examples (4e).pdf - Shortcut.lnk
Using R and lme_lmer to fit different two- and three-level longitudinal models - R Psychologist.pdf - Shortcut.lnk
testing_osrm_parallel.R
Rplot04.pdf
Rplot03.pdf
Rplot02.pdf
Rplot01.pdf
Rplot.pdf
data/raw/201801_citibikejc_tripdata.csv.zip
data/raw/201801_citibikenyc_tripdata.csv.zip
data/raw/201802_citibikejc_tripdata.csv.zip
data/raw/201802_citibikenyc_tripdata.csv.zip
data/polyline_5_df.csv
data/polyline_5_df.rds
data/polyline_5_osrm_df.csv
data/polyline_5_osrm_df.rds
data/polyline_6_df.csv
data/polyline_6_df.rds
data/polyline_6_osrm_df.csv
data/polyline_6_osrm_df.rds
data/polyline_osrm_df.csv
data/polyline_osrm_df.rds
data/coord_df_com.rds
*.dat
data/raw/201803_capitalbikeshare_tripdata.csv.zip
data/raw/201803_citibikejc_tripdata.csv.zip
data/raw/201803_citibikenyc_tripdata.csv.zip
*.zip
data/march_april_may/april_trips.rds
data/march_april_may/april_trips_hourly.rds
data/march_april_may/april_trips_hourly_count.rds
data/march_april_may/april_trips_hourly_duration.rds
code/adding_stations_to_time_series.R
code/adding_wind_speed.R
code/augment_ts.R
code/dynamic linear models.R
code/examining weather missingness.R
code/exploring_noaa_data_fields.R
code/nyc_weather.R
code/testing_dynlm.R
code/testing_optimizers.R
code/testing_poisson.R
code/testing_prophet.R
code/testing_time_series_with_uv_index.R
code/testing_weighted_temp_means.R
code/functions/desktop.ini
code/nyc_weather.R
code/testing_crossed_vs_nested.R
trip_data.Rproj
Rplot13.pdf
Rplot12.pdf
Rplot11.pdf
Rplot10.pdf
Rplot09.pdf
Rplot08.pdf
Rplot07.pdf
Rplot06.pdf
Rplot05.pdf
plots/time_series/wind_speed_1.pdf
plots/time_series/trwx_fit_9.6_plot.png
plots/time_series/trwx_fit_9.5_plot.png
plots/time_series/trwx_fit_9.4_plot.png
plots/time_series/trwx_fit_9.3_plot.png
plots/time_series/trwx_fit_9.2_plot.png
plots/time_series/trwx_fit_9.1_plot.png
plots/time_series/trwx_fit_8.6_plot.png
plots/time_series/trwx_fit_8.5_plot.png
plots/time_series/trwx_fit_8.4_plot.png
plots/time_series/trwx_fit_8.3_plot.png
plots/time_series/trwx_fit_8.2_plot.png
plots/time_series/trwx_fit_8.1_plot.png
plots/time_series/trwx_fit_7.6_plot.png
plots/time_series/trwx_fit_7.5_plot.png
plots/time_series/trwx_fit_7.4_plot.png
plots/time_series/trwx_fit_7.3_plot.png
plots/time_series/trwx_fit_7.2_plot.png
plots/time_series/trwx_fit_7.1_plot.png
plots/time_series/trwx_fit_6.5_plot.png
plots/time_series/trwx_fit_6.4_plot.png
plots/time_series/trwx_fit_6.3_plot.png
plots/time_series/trwx_fit_6.2_plot.png
plots/time_series/trwx_fit_6.1_plot.png
plots/time_series/trwx_fit_6.04_plot.png
plots/time_series/trwx_fit_6.01_plot.png
plots/time_series/trwx_fit_6.011_plot.png
plots/time_series/trwx_fit_5.4_plot.png
plots/time_series/trwx_fit_5.3_plot.png
plots/time_series/trwx_fit_5.2_plot.png
plots/time_series/trwx_fit_5.1_plot.png
plots/time_series/trwx_fit_4.4_plot.png
plots/time_series/trwx_fit_4.3_plot.png
plots/time_series/trwx_fit_4.2_plot.png
plots/time_series/trwx_fit_4.1_plot.png
plots/time_series/trwx_fit_4.03_plot_HI8.png
plots/time_series/trwx_fit_4.03_plot_HI7.png
plots/time_series/trwx_fit_4.03_plot_HI6.png
plots/time_series/trwx_fit_4.03_plot_HI5.png
plots/time_series/trwx_fit_4.03_plot_HI4.png
plots/time_series/trwx_fit_4.03_plot_HI3.png
plots/time_series/trwx_fit_4.03_plot_HI2.png
plots/time_series/trwx_fit_4.03_plot_HI.png
plots/time_series/trwx_fit_4.02_plot_HI2.png
plots/time_series/trwx_fit_4.02_plot_HI.png
plots/time_series/trwx_fit_4.01_plot_HI.png
plots/time_series/trwx_fit_3.4_plot.png
plots/time_series/trwx_fit_3.3_plot.png
plots/time_series/trwx_fit_3.2_plot.png
plots/time_series/trwx_fit_3.1_plot.png
plots/time_series/trwx_fit_2.4_plot_precip.png
plots/time_series/trwx_fit_2.4_plot.png
plots/time_series/trwx_fit_2.3_plot_precip.png
plots/time_series/trwx_fit_2.3_plot.png
plots/time_series/trwx_fit_2.2_plot_precip.png
plots/time_series/trwx_fit_2.2_plot.png
plots/time_series/trwx_fit_2.1_plot_precip.png
plots/time_series/trwx_fit_2.1_plot.png
plots/time_series/trwx_fit_1_p_plot.png
plots/time_series/trwx_fit_1_p_all_plot.png
plots/time_series/trwx_fit_16.2.1_plot.png
plots/time_series/trwx_fit_15.2.1_plot.png
plots/time_series/trwx_fit_13.5_plot_uv.png
plots/time_series/trwx_fit_13.5_plot_precip.png
plots/time_series/trwx_fit_12.5_plot_uv.png
plots/time_series/trwx_fit_12.5_plot_precip.png
plots/time_series/trwx_fit_11.6_plot.png
plots/time_series/trwx_fit_11.5_plot_uv.png
plots/time_series/trwx_fit_11.5_plot.png
plots/time_series/trwx_fit_11.4_plot.png
plots/time_series/trwx_fit_11.3_plot.png
plots/time_series/trwx_fit_11.2_plot.png
plots/time_series/trwx_fit_11.1_plot.png
plots/time_series/trwx_fit_10_plot_month.png
plots/time_series/trwx_fit_10.6_plot.png
plots/time_series/trwx_fit_10.5_plot.png
plots/time_series/trwx_fit_10.4_plot.png
plots/time_series/trwx_fit_10.3_plot.png
plots/time_series/trwx_fit_10.2_plot.png
plots/time_series/trwx_fit_10.1_plot.png
plots/time_series/trwx_fit_1.2_plot_precip.png
plots/time_series/trwx_fit_1.2_plot.png
plots/time_series/trwx_fit_1.1_plot.png
plots/time_series/trwx_fit_0_plot.png
plots/time_series/trwx_fit_09_plot.png
plots/time_series/trwx_fit_08_plot.png
plots/time_series/trwx_fit_05_plot_month.png
plots/time_series/trwx_fit_05_plot.png
plots/time_series/trwx_fit_04_plot.png
plots/time_series/trwx_fit_03_plot_month.png
plots/time_series/trwx_fit_03_plot.png
plots/time_series/trwx_fit_031_plot_all.png
plots/time_series/trwx_fit_031_plot.png
plots/time_series/trwx_fit_031_nost_plot_all.png
plots/time_series/trwx_fit_031_nost_plot.png
plots/time_series/trwx_fit_02_plot_month.png
plots/time_series/trwx_fit_02_plot.png
plots/time_series/trwx_fit_01_plot.png
plots/time_series/trips_weather_remainder_plot_wday_t-window=1wk.png
plots/time_series/temperature_1.pdf
plots/time_series/temp_trips_plot_wday_t-window=1wk.png
plots/time_series/temp_trips_plot_month_t-window=1wk.png
plots/time_series/temp_trips_plot_hour_t-window=1wk.png
plots/time_series/seasadj_plot_wday_t-window=8wk.png
plots/time_series/seasadj_plot_wday_t-window=6wk.png
plots/time_series/seasadj_plot_wday_t-window=1wk.png
plots/time_series/seasadj_plot_month_t-window=8wk.png
plots/time_series/seasadj_plot_month_t-window=6wk.png
plots/time_series/seasadj_plot_month_t-window=1wk.png
plots/time_series/seasadj_plot_hour_t-window=8wk.png
plots/time_series/seasadj_plot_hour_t-window=6wk.png
plots/time_series/seasadj_plot_hour_t-window=1wk.png
plots/time_series/remainder_plot_wday_t-window=8wk.png
plots/time_series/remainder_plot_wday_t-window=6wk.png
plots/time_series/remainder_plot_wday_t-window=1wk.png
plots/time_series/remainder_plot_month_t-window=8wk.png
plots/time_series/remainder_plot_month_t-window=6wk.png
plots/time_series/remainder_plot_month_t-window=1wk.png
plots/time_series/remainder_plot_hour_weekend_t-window=8wk.png
plots/time_series/remainder_plot_hour_weekend_t-window=6wk_fixed_T.png
plots/time_series/remainder_plot_hour_weekend_t-window=6wk_fixed.png
plots/time_series/remainder_plot_hour_weekend_t-window=6wk.png
plots/time_series/remainder_plot_hour_weekend_t-window=1wk.png
plots/time_series/remainder_plot_hour_t-window=8wk.png
plots/time_series/remainder_plot_hour_t-window=6wk_T.png
plots/time_series/remainder_plot_hour_t-window=6wk.png
plots/time_series/remainder_plot_hour_t-window=1wk_T.png
plots/time_series/remainder_plot_hour_t-window=1wk.png
plots/time_series/fitted.png
plots/time_series/desktop.ini
playing with stl options.R
output/turbostat_trwx_fit_10.tsv
output/turbostat_trwx_fit_10.csv
output/trwx_stan_fit_0421.rds
output/trwx_stan_fit_042.rds
output/trwx_fit_9.6_tidy.csv
output/trwx_fit_9.5_tidy.csv
output/trwx_fit_9.4_tidy.csv
output/trwx_fit_9.3_tidy.csv
output/trwx_fit_9.2_tidy.csv
output/trwx_fit_9.1_tidy.csv
output/trwx_fit_8.6_tidy.csv
output/trwx_fit_8.5_tidy.csv
output/trwx_fit_8.4_tidy.csv
output/trwx_fit_8.3_tidy.csv
output/trwx_fit_8.2_tidy.csv
output/trwx_fit_8.1_tidy.csv
output/trwx_fit_7.6_tidy.csv
output/trwx_fit_7.5_tidy.csv
output/trwx_fit_7.4_tidy.csv
output/trwx_fit_7.3_tidy.csv
output/trwx_fit_7.2_tidy.csv
output/trwx_fit_7.1_tidy.csv
output/trwx_fit_6.5_tidy.csv
output/trwx_fit_6.4_tidy.csv
output/trwx_fit_6.3_tidy.csv
output/trwx_fit_6.2_tidy.csv
output/trwx_fit_6.1_tidy.csv
output/trwx_fit_5.4_tidy.csv
output/trwx_fit_5.3_tidy.csv
output/trwx_fit_5.2_tidy.csv
output/trwx_fit_5.1_tidy.csv
output/trwx_fit_4.4_tidy.csv
output/trwx_fit_4.3_tidy.csv
output/trwx_fit_4.2_tidy.csv
output/trwx_fit_4.1_tidy.csv
output/trwx_fit_3.4_tidy.csv
output/trwx_fit_3.3_tidy.csv
output/trwx_fit_3.2_tidy.csv
output/trwx_fit_3.1_tidy.csv
output/trwx_fit_2.4_tidy.csv
output/trwx_fit_2.3_tidy.csv
output/trwx_fit_2.2_tidy.csv
output/trwx_fit_2.1_tidy.csv
output/trwx_fit_1_p_all.rds
output/trwx_fit_1_p.rds
output/trwx_fit_11.6_tidy.csv
output/trwx_fit_11.5_tidy.xlsx
output/trwx_fit_11.5_tidy.csv
output/trwx_fit_11.4_tidy.csv
output/trwx_fit_11.3_tidy.csv
output/trwx_fit_11.2_tidy.csv
output/trwx_fit_11.1_tidy.csv
output/trwx_fit_10_month.rds
output/trwx_fit_10.6_tidy.csv
output/trwx_fit_10.5_tidy.xlsx
output/trwx_fit_10.5_tidy.csv
output/trwx_fit_10.4_tidy.csv
output/trwx_fit_10.3_tidy.csv
output/trwx_fit_10.2_tidy.csv
output/trwx_fit_10.1_tidy.csv
output/trwx_fit_1.2_tidy.csv
output/trwx_fit_1.1_tidy.csv
output/trwx_fit_0_tidy.csv
output/trwx_fit_09.rds
output/trwx_fit_08.rds
output/trwx_fit_05_month.rds
output/trwx_fit_051.rds
output/trwx_fit_05.rds
output/trwx_fit_0422.rds
output/trwx_fit_0421.rds
output/trwx_fit_042.rds
output/trwx_fit_041.rds
output/trwx_fit_04.rds
output/trwx_fit_03_month.rds
output/trwx_fit_03.rds
output/trwx_fit_02_month.rds
output/trwx_fit_02.rds
output/testing_optimizers.R
output/remainder, hourly, t window = 6 weeks.xlsx
output/remainder, hourly, t window = 1 week.xlsx
output/call_list_df.csv
output/call_list.txt
output/call_glance_df.xlsx
output/call_glance_df.csv
ny_uv_names
nloptr.pdf
installed_packages.txt
installed_packages.csv
heatindex.png
ehp.1206273.g003.jpg
data/weather/uv_data_test.csv
data/weather/uv_data_2018-05-15_2018-06-04_19.00.00_EDT.rds
data/weather/uv_data_2018-05-15_2018-05-28.rds
data/weather/uv_data_2018-05-01_2018-05-14.rds
data/weather/uv_data.csv
data/weather/three_min_uv_data.rds
data/weather/nyc_weather_db.sqlite3
data/weather/darksky_data_2015-06-30_2017-12-30.rds
data/weather/darksky_data.rds
data/weather/darksky_data [May].rds
data/weather/daily_uv_data.rds
data/weather/_var_www_html_UVB_tmp_NY01201803050_ind.csv
data/weather/_var_www_html_UVB_tmp_NY01201803020_ind.csv
data/trwx_fit_workspace.RData
data/nyc_weather_db.sqlite3
data/weather/darksky_data [May].rds
data/weather/darksky_data [May].rds
data/weather/Geneva_NY_UVI_2013-01-01.csv
