.Rproj.user
.Rhistory
.RData
.Ruserdata
noaa_token.txt
10 Time-Series Analysis _ SAGE Research Methods.pdf - Shortcut.lnk
12. Modeling Change.pdf - Shortcut.lnk
13. Analyzing Panel Data - Fixed- and Random-Effects Models.pdf - Shortcut.lnk
13. Longitudinal Panel Analysis with Logistic Regression.pdf - Shortcut.lnk
14. Logistic Regression for Historical and Developmental Change Models - Multilevel Logistic Regression and Discrete Time Event History Analysis.pdf - Shortcut.lnk
14. Longitudinal Analysis for Continuous Outcomes - Random Effects Models and Latent Trajectory Models.pdf - Shortcut.lnk
17. Time-Series Cross-Section.pdf - Shortcut.lnk
2. The Special Nature of Spatial Data.pdf - Shortcut.lnk
30 Best Practices in Analysis of Longitudinal Data - A Multilevel Approach.pdf - Shortcut.lnk
6. Spatial Autocorrelation.pdf - Shortcut.lnk
8. Longitudinal Analysis.pdf - Shortcut.lnk
9. Time Series Analysis.pdf - Shortcut.lnk
9. Working with Date and Time Data.pdf - Shortcut.lnk
Automatic Time Series Forecasting - the forecast Package for R.pdf - Shortcut.lnk
Basic Data Analysis for Time Series with R.pdf - Shortcut.lnk
Chapter 10 - Complexities in Error Structures within Individuals.pdf - Shortcut.lnk
Chapter 9 - Longitudinal Data Modeling.pdf - Shortcut.lnk
Forecasting - Shortcut.lnk
Longitudinal Categorical Data Analysis.pdf - Shortcut.lnk
Mapping Spatial Relations, Their Perceptions and Dynamics.pdf - Shortcut.lnk
Modeling Longitudinal Data.pdf - Shortcut.lnk
Models for Discrete Longitudinal Data.pdf - Shortcut.lnk
Modern Methodology and Applications in Spatial-Temporal Modeling.pdf - Shortcut.lnk
polyline_df.csv
polyline_df.rds
Non-Linear Time Series - Extreme Events and Integer Value Problems.pdf - Shortcut.lnk
Time Series Analysis and Its Applications - With R Examples (4e).pdf - Shortcut.lnk
Using R and lme_lmer to fit different two- and three-level longitudinal models - R Psychologist.pdf - Shortcut.lnk
testing_osrm_parallel.R
Rplot04.pdf
Rplot03.pdf
Rplot02.pdf
Rplot01.pdf
Rplot.pdf
data/raw/201801_citibikejc_tripdata.csv.zip
data/raw/201801_citibikenyc_tripdata.csv.zip
data/raw/201802_citibikejc_tripdata.csv.zip
data/raw/201802_citibikenyc_tripdata.csv.zip
data/polyline_5_df.csv
data/polyline_5_df.rds
data/polyline_5_osrm_df.csv
data/polyline_5_osrm_df.rds
data/polyline_6_df.csv
data/polyline_6_df.rds
data/polyline_6_osrm_df.csv
data/polyline_6_osrm_df.rds
data/polyline_osrm_df.csv
data/polyline_osrm_df.rds
data/coord_df_com.rds
*.dat
data/raw/201803_capitalbikeshare_tripdata.csv.zip
data/raw/201803_citibikejc_tripdata.csv.zip
data/raw/201803_citibikenyc_tripdata.csv.zip
