Rplot.pdf
Rplot01.pdf
Rplot02.pdf
Rplot03.pdf
Rplot04.pdf
Rplot05.pdf
Rplot06.pdf
Rplot07.pdf
Rplot08.pdf
Rplot09.pdf
Rplot10.pdf
Rplot11.pdf
Rplot12.pdf
Rplot13.pdf
Rplot14.pdf
Rplot15.pdf
Rplot16.pdf
Rplot17.pdf
Rplot18.pdf
Rplot19.pdf
Rplot20.pdf
Rplot21.pdf
Rplot22.png
Rplot23.png
Rplot24.png
Rplot25.png
Rplot26.pdf
Rplot27.pdf
Rplot28.png
Rplot29.png
Rplot30.png
Rplot31.png
animation.mp4
citi bike trips - 4 days 1.pdf
citi bike trips - 4 days 1.png
citi bike trips - 4 days 2.pdf
citi bike trips - 4 days 2.png
citi bike trips - 4 days 3.pdf
citi bike trips - 4 days 3.png
citi bike trips - 4 days 4.pdf
citi bike trips - 4 days 4.png
citi bike trips - 4 days 5.png
citi bike trips - 4 days 6.png
citi bike trips - 4 days 7.png
citi bike trips - 4 days, facets 1.pdf
citi bike trips - 4 days, facets 1.png
citi bike trips - 4 days, facets 2.pdf
citi bike trips - 4 days, facets 2.png
citi bike trips - 4 days, facets 3.png
citi bike trips - 4 days, facets 4.pdf
citi bike trips - 4 days, facets 4.png
citi bike trips - 4 days, facets 5.pdf
citi bike trips - 4 days, facets 5.png
citi bike trips - 4 days, facets 6.pdf
citi bike trips - 4 days, facets 6.png
citi bike trips - 4 days, facets.pdf
citi bike trips - 4 days.pdf
citi bike trips - 4 days.png
citi bike trips - 4 ends 1.png
citi bike trips - 4 origins AM & PM 1.png
citi bike trips - 4 origins AM 1.png
citi bike trips - 4 origins PM 1.png
citi bike trips - 4 stations 1.png
citi bike trips - 4 stations 2.png
citi bike trips - 4 stations 3.png
citi bike trips - 4 stations 4.pdf
citi bike trips - 4 stations 4.png
citi bike trips - 4 stations 5.pdf
citi bike trips - 4 stations 5.png
citi bike trips - 4 stations 6.png
citi bike trips - May 2017 Weekdays - 4 origins AM & PM 1.png
citi bike trips - May 2017 Weekdays - 4 origins AM & PM 2.png
citi bike trips - May 2017 Weekdays - 4 origins AM 1.png
citi bike trips - May 2017 Weekdays - 4 origins AM 2.png
citi bike trips - May 2017 Weekdays - 4 origins AM 3.png
citi bike trips - May 2017 Weekdays - 4 origins AM 4.png
citi bike trips - May 2017 Weekdays - 4 origins AM 5.png
citi bike trips - May 2017 Weekdays - 4 origins PM 1.png
citi bike trips - May 2017 Weekdays - 4 origins PM 2.png
citi bike trips - dest 4 days 1.png
citi bike trips - dest 4 days 2.png
citi bike trips - destination 2.pdf
citi bike trips - destination 2.png
citi bike trips 1.png
citi bike trips 10.pdf
citi bike trips 10.png
citi bike trips 11.png
citi bike trips 12.png
citi bike trips 13.png
citi bike trips 14.png
citi bike trips 15.png
citi bike trips 16.png
citi bike trips 17.png
citi bike trips 18.pdf
citi bike trips 18.png
citi bike trips 19.pdf
citi bike trips 19.png
citi bike trips 2.pdf
citi bike trips 2.png
citi bike trips 3.pdf
citi bike trips 3.png
citi bike trips 4.pdf
citi bike trips 4.png
citi bike trips 5.pdf
citi bike trips 5.png
citi bike trips 6.pdf
citi bike trips 6.png
citi bike trips 7.pdf
citi bike trips 7.png
citi bike trips 8.pdf
citi bike trips 8.png
citi bike trips 9.pdf
citi bike trips 9.png
gov.isl.map.1.png
gov.isl.map.2.png
gov.isl.map.3.png
gov.isl.map.4.png
gov.isl.map.41.png
gov.isl.map.5.png
joined_animate.gif
may onebike 1.gif
may onebike 3.gif
may onebike 4.gif
may onebike 5.gif
one bike animation test 12.png
one bike test 1.png
one bike test 10.png
one bike test 11.png
one bike test 12.pdf
one bike test 12.png
one bike test 3.pdf
one bike test 3.png
one bike test 4.pdf
one bike test 4.png
one bike test 5.pdf
one bike test 5.png
one bike test 6.pdf
one bike test 6.png
one bike test 7.pdf
one bike test 7.png
one bike test 8.pdf
one bike test 8.png
one bike test 9.png
one_bike_test_12.mp4
one_bike_test_12_1.mp4
one_bike_test_12_2.gif
one_bike_test_12_2.mp4
one_bike_test_12_3.gif
one_bike_test_12_3.mp4
pie_2.png
pie_3.png
pie_4.png
pie_5.png
pie_6.png
pie_7.png
pie_8.png
pie_9.png
preview (2.0).gif
preview (2.5).gif
preview.gif
scatterplot.gif
scatterplot_animate.gif
showtext-ex1.pdf
stops.gif
stops.png
stops_fg.gif
stops_foreground_2.png
stops_pie_1.png
stops_pie_2.png
stops_pie_3.png
stops_plot_animate_1000.gif
stops_plot_animate_13.mp4
stops_plot_animate_14.gif
stops_plot_animate_15.gif
stops_plot_animate_16.gif
stops_plot_animate_24.gif
stops_plot_animate_600.gif
stops_plot_animate_800.gif
stops_plot_animate_9.gif
stops_plot_background_11.png
stops_plot_background_12.gif
stops_plot_background_12.png
stops_plot_background_19.gif
stops_plot_background_20.gif
stops_plot_background_201.gif
stops_plot_background_30.gif
stops_plot_background_30.png
stops_plot_background_31.png
stops_plot_test.png
test web map 10.html
test web map 11.html
test web map 12.html
test web map 13.html
test web map 14.html
test web map 15.html
test web map 2.html
test web map 3.html
test web map 4.html
test web map 5.html
test web map 6.html
test web map 7.html
test web map 8.html
test web map 9.html
test web map.html
test.gif
test.mp4
test14.mp4
test2.gif
test3.gif
test4.gif
test5.gif
test_1.png
test_2.png
timeline_1.gif
timeline_2.gif
timeline_3.gif
timeline_random_1.gif
timeline_random_2.gif
timeline_random_3.gif
timeline_random_4.gif
timeline_random_5.gif
timeline_stacked.gif
timeline_stacked_joined.gif
timeline_stacked_joined_2.gif
timeline_stacked_joined_3.gif
traffic_plot_20.png
traffic_plot_20_2.png
traffic_plot_20_3.png
traffic_plot_20_4.png
traffic_plot_20_5.png
traffic_plot_20_6.png
traffic_plot_20_7.png
traffic_plot_20_8.png
traffic_plot_20_9.png
traffic_plot_all_1.png
traffic_plot_all_2.png
traffic_plot_all_3.png
traffic_plot_madisonsq_1.png
traffic_plot_madisonsq_2.png
traffic_plot_penn_1.png
traffic_plot_penn_2.png
traffic_plot_pershing_1.png
traffic_plot_pershing_2.png
traffic_plot_union_2.png
10 stations
10 stations 2
10 stations 3
station 72
