entrances_sptl_df_2 - May 2017 Weekdays.RDS
park_sptl_df - May 2017 Weekdays(2).RDS
routes_sptl_df_2 - May 2017 Weekdays.RDS
stops_shp_df - May 2017 Weekdays.RDS
citibike_trip_db.sqlite3
citibike_trips may 2017 weekdays(2).RDS
citibike_trips may 2017 weekdays.RDS
citibike_trips_2016.rds
bikes_weather.csv
