201307-citibike-tripdata.zip
201308-citibike-tripdata.zip
201309-citibike-tripdata.zip
201310-citibike-tripdata.zip
201311-citibike-tripdata.zip
201312-citibike-tripdata.zip
201401-citibike-tripdata.zip
201402-citibike-tripdata.zip
201403-citibike-tripdata.zip
201404-citibike-tripdata.zip
201405-citibike-tripdata.zip
201406-citibike-tripdata.zip
201407-citibike-tripdata.zip
201408-citibike-tripdata.zip
201409-citibike-tripdata.zip
201410-citibike-tripdata.zip
201411-citibike-tripdata.zip
201412-citibike-tripdata.zip
201501-citibike-tripdata.zip
201502-citibike-tripdata.zip
201503-citibike-tripdata.zip
201504-citibike-tripdata.zip
201505-citibike-tripdata.zip
201506-citibike-tripdata.zip
201507-citibike-tripdata.zip
201508-citibike-tripdata.zip
201509-citibike-tripdata.zip
201510-citibike-tripdata.zip
201511-citibike-tripdata.zip
201512-citibike-tripdata.zip
201601-citibike-tripdata.zip
201602-citibike-tripdata.zip
201603-citibike-tripdata.zip
201604-citibike-tripdata.zip
201605-citibike-tripdata.zip
201606-citibike-tripdata.zip
201607-citibike-tripdata.zip
201608-citibike-tripdata.zip
201609-citibike-tripdata.zip
201610-citibike-tripdata.zip
201611-citibike-tripdata.zip
201612-citibike-tripdata.zip
201701-citibike-tripdata.csv.zip
201702-citibike-tripdata.csv.zip
201703-citibike-tripdata.csv.zip
201704-citibike-tripdata.csv.zip
201705-citibike-tripdata.csv.zip
201706-citibike-tripdata.csv.zip
201707-citibike-tripdata.csv.zip
201708-citibike-tripdata.csv.zip
201709-citibike-tripdata.csv.zip
201710-citibike-tripdata.csv.zip
201711-citibike-tripdata.csv.zip
201712-citibike-tripdata.csv.zip
201801-citibike-tripdata.csv.zip
JC-201509-citibike-tripdata.csv.zip
JC-201510-citibike-tripdata.csv.zip
JC-201511-citibike-tripdata.csv.zip
JC-201512-citibike-tripdata.csv.zip
JC-201601-citibike-tripdata.csv.zip
JC-201602-citibike-tripdata.csv.zip
JC-201603-citibike-tripdata.csv.zip
JC-201604-citibike-tripdata.csv.zip
JC-201605-citibike-tripdata.csv.zip
JC-201606-citibike-tripdata.csv.zip
JC-201607-citibike-tripdata.csv.zip
JC-201608-citibike-tripdata.csv.zip
JC-201609-citibike-tripdata.csv.zip
JC-201610-citibike-tripdata.csv.zip
JC-201611-citibike-tripdata.csv.zip
JC-201612-citibike-tripdata.csv.zip
JC-201701-citibike-tripdata.csv.zip
JC-201702-citibike-tripdata.csv.zip
JC-201703-citibike-tripdata.csv.zip
JC-201704-citibike-tripdata.csv.zip
JC-201705-citibike-tripdata.csv.zip
JC-201706-citibike-tripdata.csv.zip
JC-201707-citibike-tripdata.csv.zip
JC-201708 citibike-tripdata.csv.zip
JC-201709-citibike-tripdata.csv.zip
JC-201710-citibike-tripdata.csv.zip
JC-201711-citibike-tripdata.csv.zip
JC-201712-citibike-tripdata.csv.zip
JC-201801-citibike-tripdata.csv.zip
Unzipped
